body {
    font-family: mono
}

.para-text {
    font-size: 1.125rem;
}

.about-img-container {
    width: 100%
}

.about-img-container img {
    width: 100%;
    height: auto;
    /* object-fit: cover; */
}

.about-us {
    align-items: center;
    /* justify-content: center; */
}

@media screen and (min-width: 450px) {
    .about-img-container {
        width: 40%;
        align-items: center;
        justify-content: center;
    }
    .about-us {
        align-items: start;
        /* justify-content: center; */
    }
}