/* 
    rem references

    desktop:
    1 rem = 16px - never really used?
    1.125 rem = 18px - paragraphs
    1.5 rem = 24px - text blurbs
    2 rem = 32 px - paragraph titles
    3 rem = 48 px - big headers

    mobile:
    1 rem = 18 px
    do math
*/

@font-face {
  font-family: mono;
  src: url(../fonts/RobotoMono.ttf);
}

/* this sets the font rem size */
html {
  font-size: 16px;
}

body {
  font-family: 'Londrina Solid', sans-serif;
  margin: 0px;
  background-color: #FFF7ED;
  line-height: 1.5;
}

* {
  margin: 0;
}

/* * {
  cursor: url(../Mallet.svg), auto;
} */

img, picture, video, canvas, svg {
  display: block; 
  max-width: 100%;
  /* border: 2px inset red; */
}

.title-logo {
  min-height: 15vh;
  max-height: 20vh;
}


a {
  color: #38BDF8;
  text-decoration: none;
}

a:hover {
  color: #EF4443; 
  text-decoration:none;
  opacity: 0.7;
  cursor:pointer;  
}

.header {
  /* min-height: 25vh; */
  max-height: 25vh;
  position: sticky;
  top: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #FFF7ED;
  border-bottom: solid 2px #38BDF8;
}

.subheader {
  min-height:5vh;
  height: 5vh;
  position: sticky;
  top: 20vh;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
  /* padding-top: 10px; */
  margin-bottom: 0vh;
  font-family: 'Londrina Solid', sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  color: #38BDF8;
}

.subheader > a {
  font-family: 'Londrina Solid', sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
}

.title {
  font-size: 80px;
  color: #38BDF8;
}

.main {
  /* background-color: #1f2937; */
  display: flex;
  flex-direction: column;
  align-items: center;

  overflow-y: auto;
}

.game-container {
  width: 75%;
  display: flex; 
  flex-direction: column;
  height: 100%;
  margin-top: 25px;
  margin-bottom: 50px;
  overflow-x: hidden;
  overflow-y: visible;
}

.about-us {
  text-align: left;
  display: flex; 
  flex-direction: column;
  margin-top: 25px;
  margin-bottom: 50px;
  margin-left: 10%;
  margin-right: 10%;
  overflow-x: hidden;
  overflow-y: visible;
}

.game-title {
  font-size: 3rem;
  color: #38BDF8;
}

.game-description {
  font-weight: 300;
  font-size: 1.5rem;
  color: #38BDF8;
  color: black
}

.image-track {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  overflow-x: hidden;
  gap: 20px;
  flex-shrink: 0;
  user-select: none; /* -- Prevent image highlighting -- */

  /* border-style: inset;
  border-radius: 4px;
  border-color: pink; */
}

.image-track > .image {
  min-width: 200px;
  width: 12vw;
  height: max(calc(12vw * (1350 / 1080)), calc(200px * (1350 / 1080)));
  object-fit: cover;
  object-position: 100% center;
}

.game-title-bar {
  display: flex;
  justify-content: space-between;
}

.scroll-btn {
  background: none;
  border: none;
  cursor: pointer;
  color: #38BDF8;
  font-size: 3rem;
}

.scroll-btn:hover {
  opacity: 0.7;
  color: #EF4443;
}

/* Animate the subheader on hover */
/* .subheader a:hover {
  color: #EF4443;
  transition: color 0.3s;
} */

/* Add a hover effect for game descriptions */
/* .game-description:hover {
  transform: scale(1.05);
  transition: transform 0.3s;
} */


/* .game-container img:hover {
  transform: scale(1.05);
} */

footer {
  text-align: center;
  padding: 10px;
}

.copyright {
  font-size: 1.5rem;
}

/* @media (color) {
  html {
    font-size: 30px;
  }
} */

/* for mobile devices increase font a bit */
@media ( max-width: 400px ) {
  html {
    font-size: 14px;
  }
  .title-logo {
    min-height: 12vh;
    height: 12vh;
  }
  .header {
    min-height: 20vh;
    height: 20vh;
  }
  .subheader {
    height: 5vh;
    max-height: 5vh;
  }
  .subheader > a {
    font-size: .9rem;
    font-weight: 300;
  }
  .scroll-btn {
    max-width: 0;
    max-height: 0;
    opacity: 0;
  }
  .game-title {
    font-size: 2.0rem;
  }
  .game-description {
    font-size: 1rem !important;
  }
}

/* for mobile devices */
/* @media only screen and (max-width:600px) and () {
  html {
    font-size: 14px;
  }
  .title-logo {
    min-height: 12vh;
    height: 12vh;
  }
  .header {
    min-height: 20vh;
    height: 20vh;
  }
  .subheader {
    height: 5vh;
    max-height: 5vh;
  }
  .subheader > a {
    font-size: 1rem;
    font-weight: 300;
  }
  .scroll-btn {
    max-width: 0;
    max-height: 0;
    opacity: 0;
  }
  .game-title {
    font-size: 2.4rem;
  }
  .game-description {
    font-size: 1.25rem;
  }
} */
